/* 공통 */
body {
  font-family: "Nanum Gothic";
  min-width: 1920px;
}

/* .gothic {
  font-family: "Nanum Gothic";
} */

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.site-logo .main {
  display: block;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
}

.btn-default {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 0px;
  font-size: 18px;
  border-radius: 10px;
}

.btn-default:hover {
  background-color: #fff;
  border-color: #fff;
  color: #3e72ff;
}

.btn-link {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-fluid,
.container {
  padding: 0;
}

.row {
  margin: 0;
}

/* 공통 - 검색메뉴 */
.search-menu {
  position: absolute;
  top: 0;
  left: 90px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search-menu::-webkit-scrollbar {
  display: none;
}

.search-menu.on {
  display: flex;
}

.search-menu .wrapper {
  background-color: #3e72ff;
  padding-top: 55px;
  width: 550px;
}

.search-menu.on .wrapper {
  width: 550px;
}

.search-menu.on .bg {
  background-color: #333;
  width: -webkit-calc(100% - 550px);
  width: calc(100% - 550px);
  opacity: 0.6;
  display: none;
}

.search-menu p {
  margin: 0 0 8px;
}

.search-menu .site-logo {
  padding-top: 4px;
  padding-left: 27px;
}

.search-menu .main {
  background-image: url(../images/logo.png);
}

.search-menu .search-sub {
  width: 336px;
  margin-top: 44px;
  margin-left: 50px;
}

.search-menu .search-sub span {
  display: block;
  background-image: url(../images/search-sub.png);
  background-size: cover;
  background-position: center;
  padding-top: calc(163 / 336 * 100%);
}

.search-content {
  padding: 18px 79px 40px 78px;
  color: #fff;
}

.search-content .input-wrapper {
  margin: 3px 0px 21px 0px;
  position: relative;
}

.search-content .input-lg {
  padding: 10px 11% 10px 16px;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 11px;
  font-size: 15px;
  color: #333;
}

.search-content .input-lg::placeholder {
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: -1px;
}

.search-content .input-lg::after {
  content: " ";
  background-image: url(../images/search.png);
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
}

.search-content .input-wrapper .search-btn {
  background-image: url(../images/search-blue.png);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
  background-color: inherit;
}

.search-content .search-category {
  margin-bottom: 19px;
}

.search-content .search-category .btn-category {
  padding: 2px;
}

.search-content .search-category .title {
  font-size: 17px;
  margin-left: 5px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.search-content .search-category .btn-category > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 13px;
  letter-spacing: -1px;
  border: 1px solid #afc5ff;
  border-radius: 5px;
  cursor: pointer;
}

.search-content .search-category .btn-category.active > div {
  background-color: #fff;
  color: #3e72ff;
}

.search-content .search-category .btn-category > div:hover {
  border: 1px solid #fff;
}

.search-content .search-category .btn-category > div.active {
  background-color: #fff;
}

.search-content .search-category .btn-category > div.active .category-title {
  color: #3e72ff;
}

.search-content .search-category .category-title {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-content .search-category .category-number {
  padding-left: 5px;
  color: #afc5ff;
}

.search-period {
  position: relative;
}

.search-period .title {
  font-size: 17px;
  margin-left: 5px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.search-content .btn-default {
  margin-top: 39px;
  width: 100%;
  font-size: 19px;
  letter-spacing: -1px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    rgb(130, 164, 255) 50%,
    rgb(130, 164, 255) 100%
  ); /* Otherwise white in Chrome */
  z-index: 9;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  position: relative;
  z-index: 9;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  border-radius: 1.3px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #82a4ff;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #fff;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #fff;
}
input[type="range"]::-ms-fill-upper {
  background-color: #82a4ff;
}

.search-period .period-marks span {
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 46px;
  position: absolute;
}

.search-period .period-marks .short {
  background-image: url(../images/search-period-1.png);
  top: -10px;
  left: -16px;
  display: none;
}

.search-period .period-marks .middle {
  background-image: url(../images/search-period-2.png);
  top: -10px;
  left: 177px;
}

.search-period .period-marks .long {
  background-image: url(../images/search-period-3.png);
  top: -10px;
  right: -16px;
  display: none;
}

.search-period .range-marks,
.search-period .range-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: -1px;
}

.search-period .range-marks {
  margin-top: -5px;
  z-index: 0;
}

.search-period .range-marks span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.search-pop {
  position: fixed;
  top: 418px;
  left: 640px;
  width: 80px;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3e72ff;
  color: #fff;
  font-size: 16px;
  padding: 34px 0px 25px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  cursor: pointer;
}

.search-pop .search-icon {
  display: block;
  background-image: url(../images/search.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-pop .pop-icon {
  display: block;
  background-image: url(../images/right-arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

/* 공통 - 사이드바 */
/* side-left */
.side-left {
  padding-top: 26px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100vh;
  z-index: 9;
  background-color: #fff;
  border-right: 1px solid #d9dade;
}

.side-left .sitemap-open {
  background-image: url(../images/menu-bar.png);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-left .sitemap-open:active {
  border: none;
  outline: none;
}

.side-left .menu-item > div {
  display: flex;
  flex-direction: column;
}

.side-left .menu-item .btn-link {
  position: relative;
  width: 27px;
  height: 22px;
  margin-top: 26px;
}

.side-left .btn-link:hover .link-hover {
  position: absolute;
  width: 73px;
  height: 46px;
  top: -51px;
  left: -24px;
}

.side-left .menu-item .btn-link:nth-child(1) {
  background-image: url(../images/left-1.png);
}

.side-left .menu-item .btn-link:nth-child(1):hover {
  background-image: url(../images/left-1-hover.png);
}

.side-left .menu-item .btn-link:nth-child(1):hover .link-hover {
  background-image: url(../images/link-hover-1.png);
}

.side-left .menu-item .btn-link:nth-child(2) {
  background-image: url(../images/left-2.png);
}

.side-left .menu-item .btn-link:nth-child(2):hover {
  background-image: url(../images/left-2-hover.png);
}

.side-left .menu-item .btn-link:nth-child(2):hover .link-hover {
  background-image: url(../images/link-hover-2.png);
  left: -26px;
}

.side-left .menu-item .btn-link:nth-child(3) {
  background-image: url(../images/left-3.png);
}

.side-left .menu-item .btn-link:nth-child(3):hover {
  background-image: url(../images/left-3-hover.png);
}

.side-left .menu-item .btn-link:nth-child(3):hover .link-hover {
  background-image: url(../images/link-hover-3.png);
  left: -23px;
}

.side-left .menu-item .btn-link:nth-child(4) {
  background-image: url(../images/left-4.png);
}

.side-left .menu-item .btn-link:nth-child(4):hover {
  background-image: url(../images/left-4-hover.png);
}

.side-left .menu-item .btn-link:nth-child(4):hover .link-hover {
  background-image: url(../images/link-hover-4.png);
}

.side-left .sns .btn-link {
  width: 28px;
  height: 24px;
  margin-top: 10px;
}

.side-left .sns .btn-facebook {
  background-image: url(../images/btn-facebook.png);
}

.side-left .sns .btn-blog {
  background-image: url(../images/btn-blog.png);
}

.side-left .sns .btn-youtube {
  background-image: url(../images/btn-youtube.png);
}

/* sitemap */
.site-map {
  display: none;
}
.site-map.on {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: transparent;
}

.site-map .sitemap-close {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/sitemap-close.png);
  width: calc(55px / 2);
  height: 27px;
  margin-top: 30px;
  margin-left: 30px;
}

.site-map .sitemap-close:active {
  border: none;
  outline: none;
}

.site-map .wrapper {
  padding: 0;
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
}

.site-map .nav {
  width: 350px;
  margin: auto;
  margin-top: 56px;
  padding: 30px 40px;
}

.site-map .bg {
  width: calc(100% - 350px);
  background-color: #333;
  opacity: 0.3;
}

.site-map .nav > li {
  border-bottom: 1px solid #d5d8df;
  margin-bottom: 30px;
}

.site-map .nav > li:nth-child(1) > a {
  background-image: url(../images/sitemap-title-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(210px / 2);
  height: 23px;
}

.site-map .nav > li:nth-child(2) > a {
  background-image: url(../images/sitemap-title-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(210px / 2);
  height: 23px;
}

.site-map .nav > li:nth-child(3) > a {
  background-image: url(../images/sitemap-title-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(210px / 2);
  height: 23px;
}

.site-map .nav > li:nth-child(4) > a {
  background-image: url(../images/sitemap-title-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(130px / 2);
  height: 23px;
}

.site-map .nav > li:nth-child(5) > a {
  background-image: url(../images/sitemap-title-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(248px / 2);
  height: 23px;
}

.site-map .nav > li > a ~ ul {
  padding: 30px 0;
  list-style: none;
}

.site-map .nav > li > a ~ ul > li {
  padding: 10px 0;
  margin-bottom: 0px;
}

.site-map .nav > li > a ~ ul > li > a {
  display: flex;
  align-items: center;
}

.site-map .nav > li > a ~ ul > li > a > .icon {
  display: inline-block;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(107px / 2);
  height: calc(107px / 2);
}

.site-map .nav > li > a ~ ul > li > a > span:nth-child(2) {
  padding-left: 0px;
}

.site-map .nav > li:nth-child(1) .depth .depth-child-1 a .icon {
  background-image: url(../images/sitemap-icon-5.png);
}

.site-map .nav > li:nth-child(1) .depth .depth-child-2 a .icon {
  background-image: url(../images/sitemap-icon-6.png);
}

.site-map .nav > li:nth-child(2) .depth .depth-child-1 a .icon {
  background-image: url(../images/sitemap-icon-7.png);
}

.site-map .nav > li:nth-child(3) .depth .depth-child-1 a .icon {
  background-image: url(../images/sitemap-icon-8.png);
}

.site-map .nav > li:nth-child(3) .depth .depth-child-2 a .icon {
  background-image: url(../images/sitemap-icon-9.png);
}

.site-map .nav > li:nth-child(3) .depth .depth-child-3 a .icon {
  background-image: url(../images/sitemap-icon-10.png);
}

.site-map .nav > li:nth-child(3) .depth .depth-child-4 a .icon {
  background-image: url(../images/sitemap-icon-11.png);
}

.site-map .nav > li:nth-child(4) .depth .depth-child-1 a .icon {
  background-image: url(../images/sitemap-icon-12.png);
}

.site-map .nav > li:nth-child(4) .depth .depth-child-2 a .icon {
  background-image: url(../images/sitemap-icon-2.png);
}

.site-map .nav > li:nth-child(4) .depth .depth-child-3 a .icon {
  background-image: url(../images/sitemap-icon-3.png);
}

.site-map .nav > li:nth-child(4) .depth .depth-child-4 a .icon {
  background-image: url(../images/sitemap-icon-4.png);
}

.site-map .nav > li:nth-child(5) .depth .depth-child-1 a .icon {
  background-image: url(../images/sitemap-icon-1.png);
}

.site-map .nav > li:nth-child(5) .depth .depth-child-2 a .icon {
  background-image: url(../images/sitemap-icon-13.png);
}

.site-map .nav > li:nth-child(5) .depth .depth-child-3 a .icon {
  background-image: url(../images/sitemap-icon-14.png);
}

/* side-right */
.side-right {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 71px;
  height: 100vh;
  z-index: 9;
  border-left: 1px solid #d9dade;
  background-color: #fff;
}

.right-menu {
  position: fixed;
  top: 381px;
  right: 25px;
  z-index: 9;
}

.right-menu .btn-wrapper {
  margin-bottom: 10px;
  text-align: right;
}

.right-menu .btn-title {
  font-size: 12px;
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  line-height: 2;
  border-radius: 27px;
  display: none;
}

.right-menu .btn-dot {
  color: #bbb;
  padding: 8px;
}

.right-menu .btn-dot span {
  display: block;
  background-color: #aaa;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  cursor: pointer;
}

.right-menu .btn-dot:hover {
  border-radius: 50%;
  border: 1px solid #bbb;
}

.btn-dot:hover > span {
  background-color: #333;
}

.btn-link {
  color: inherit;
}

.btn-link:hover {
  text-decoration: none;
  color: inherit;
}

.btn-link:focus {
  text-decoration: none;
  color: inherit;
}

.side-right .top-btn {
  padding: 20px;
  margin-bottom: 5px;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.side-right .btn-top {
  display: block;
  background-image: url(../images/top-btn.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 31px;
  cursor: pointer;
}

.side-right .btn-top a:active {
  box-shadow: none;
}

/* 메인 - 헤더 */
.site-header {
  padding: 0px 70px 0px 90px;
  width: 100%;
  min-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 0;
}

.site-header .site-logo {
  padding-left: 33px;
}

.site-header .site-logo .main {
  background-image: url(../images/logo-h.png);
}

.site-header .lnb {
  flex: 1;
  margin-top: 2px;
  margin-left: 230px;
}

.site-header .lnb .nav {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
}

.lnb .nav > li {
  margin: 0px 12px;
}

.lnb .nav > li > a:hover {
  background-color: transparent;
  color: inherit;
}

.lnb .nav > li > a:focus {
  background-color: transparent;
  outline: none;
  color: inherit;
}

.lnb .nav > li > a:hover > span {
  padding-bottom: 5px;
  border-bottom: 2px solid #3e72ff;
}

.lnb .nav .nav-emphasis {
  width: 5px;
  height: 5px;
  background-color: #3e72ff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 7px;
}

.lnb .nav .depth {
  font-weight: normal;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 10px;
  display: flex;
  width: max-content;
  font-size: 13px;
}

.lnb .nav .depth > li {
  padding: 0px 6px;
}

.gnb {
  position: relative;
  margin-top: 1px;
  margin-right: 32px;
}

.gnb .btn-link {
  padding: 6px 6px;
  font-size: 13px;
  letter-spacing: -1px;
}

.gnb .btn-link:first-child {
  padding: 0;
}

.gnb .login-icon {
  background-color: #3e72ff;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -31px;
}

/* 메인 - 푸터 */
.site-footer-mb {
  display: none;
}

.site-footer {
  background-color: #1d44ad;
  padding: 18px 18px 10px 68px;
  font-size: 12px;
}

.site-footer .btn-link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px;
}

.site-footer address {
  padding-left: 13px;
  color: #5f80d8;
  margin-top: 4px;
  margin-bottom: 14px;
  line-height: 1.7;
}

/* 메인 */
.site-content {
  margin-left: 640px;
  margin-right: 70px;
  height: 100vh;
  padding-top: 181px;
}

.site-content .wrapper {
  max-width: 870px;
  padding: 0px 20px;
  margin: auto;
}

/* 메인 - 공지사항 */
.notice .notice-title {
  float: left;
  width: 316px;
}

.notice .notice-title > a {
  display: inline-block;
  background-image: url(../images/notice-title.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: calc(172 / 316 * 100%);
}

.notice-content {
  margin-top: 39px;
  float: right;
  width: -webkit-calc(100% - 316px); /* for Chrome, Safari */
  width: calc(100%-316px);
}

.notice-content > ul {
  border-top: 2px solid #333;
  list-style: none;
  padding: 0;
}

.notice-content > ul > li > a {
  padding: 20px 35px 20px 0px;
  text-align: start;
  text-overflow: ellipsis;
  letter-spacing: -1px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.notice-content > ul > li > a:hover {
  border-bottom: 1px solid #ddd;
}

/* 메인 - 콘텐트 카테고리 */
.content-category {
  height: 141px;
  margin-top: 45px;
  background-color: #eee;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 5px 48px 13px 62px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

.content-category::before {
  content: "";
  display: block;
  width: 70px;
  height: 141px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 60px;
  background-color: #eee;
  opacity: 0.8;
}

.content-category::after {
  content: "";
  display: block;
  width: 70px;
  height: 141px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #eee;
  opacity: 0.8;
}

.content-category::-webkit-scrollbar {
  display: none;
}

.content-category .item-wrapper {
  height: 100%;
  padding: 10px 0px;
}

.content-category .item-wrapper .item {
  display: inline-block;
  font-weight: 600;
}

.content-category .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 16px 14px 16px 17px;
}

.content-category .item a:hover,
.content-category .item a:active {
  color: inherit;
  text-decoration: none;
}

.content-category .item .icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.content-category .item:nth-child(1) .icon {
  background-image: url(../images/cate-1.png);
}

.content-category .item:nth-child(2) .icon {
  background-image: url(../images/cate-2.png);
}

.content-category .item:nth-child(3) .icon {
  background-image: url(../images/cate-3.png);
}

.content-category .item:nth-child(4) .icon {
  background-image: url(../images/cate-4.png);
}

.content-category .item:nth-child(5) .icon {
  background-image: url(../images/cate-5.png);
}

.content-category .item:nth-child(6) .icon {
  background-image: url(../images/cate-6.png);
}

.content-category .item:nth-child(7) .icon {
  background-image: url(../images/cate-7.png);
}

.content-category .item .title {
  letter-spacing: -1px;
  font-size: 13.5px;
}

/* 메인-강의목록 */
.lecture {
  margin-top: 66px;
  margin-left: -15px;
  margin-right: -15px;
}

.lecture .thumbnail .thumbnail-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lecture .thumbnail .thumbnail-img .thumb-play {
  background-image: url(../images/thumb-play.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.lec .lecture a:hover {
  text-decoration: none;
}

.lecture .title,
.lecture .sub-title {
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
}

.lecture > .title {
  font-size: 31px;
  letter-spacing: -3px;
  position: relative;
}

.lecture .bg-wrap {
  display: flex;
  justify-content: center;
}

.lecture .bg-wrap .title-bg-img {
  display: block;
  background-image: url(../images/title-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 492px;
  height: 1px;
  margin-bottom: 8px;
}

.lecture > .sub-title {
  font-size: 17px;
}

.lecture .item-list {
  margin-top: 38px;
  margin-left: -2px;
}

.lecture .thumbnail {
  padding: 0;
  border-radius: 20px;
  width: 98%;
  margin-bottom: 59px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.lecture a:hover .thumbnail {
  border: 1px solid #333;
}

.lecture .thumbnail img {
  height: 250px;
}

.lecture .thumbnail .caption {
  padding: 0px;
}

.lecture .thumbnail .caption .title-wrapper {
  padding: 9px 24px 16px 24px;
}

.lecture .thumbnail .caption .title {
  text-align: start;
  font-size: 21px;
  margin-top: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lecture .thumbnail .caption .description {
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #aaa;
}

.lecture .thumbnail .caption .info-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 15px 15px 15px 21px;
}

.lecture .thumbnail .caption .info-wrapper .info {
  position: relative;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}

.lecture .thumbnail .caption .info-wrapper .info span {
  margin-right: 5px;
}

.lecture .thumbnail .caption .info-wrapper .info .user {
  display: block;
  background-image: url(../images/user.png);
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.lecture .thumbnail .caption .info-wrapper .info .play {
  display: block;
  background-image: url(../images/play.png);
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 15px;
}

.lecture .thumbnail .caption .info-wrapper .info .teacher,
.lecture .thumbnail .caption .info-wrapper .info .view {
  padding-right: 3px;
}

.lecture .thumbnail .caption .info-wrapper .status span {
  padding: 8px 9px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 12px;
}

/* 메인 - 실시간 Top */
.lecture-rt .title {
  margin-bottom: 10px;
}

.lecture-rt .sub-title {
  font-weight: 300;
}

.rt-category {
  padding-top: 20px;
  padding-bottom: 21px;
  margin: 0 37px 0 30px;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rt-category::-webkit-scrollbar {
  display: none;
}

.rt-category .category-item {
  padding: 9px 14px;
  letter-spacing: -1px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.rt-category .category-item:hover,
.rt-category .category-item.active {
  background-color: #3e72ff;
  color: #fff;
}

/* 메인 - 신규강좌 */
.lecture-new {
  margin-top: 30px;
}

.lecture-new .item-list {
  margin-top: 60px;
}

/* 메인 - 추천강좌 */
.lecture-recommend {
  margin-top: 32px;
}

.lecture-recommend .item-list {
  margin-top: 59px;
}

/* 메인 - 숫자로 보는 창업교육센터 */
.lecture-outro {
  margin-top: 30px;
  padding-bottom: 123px;
}

.lecture-outro .item-wrapper {
  margin-top: 83px;
}

.lecture-outro .item-wrapper .item {
  padding: 0;
}

.lecture-outro .item-wrapper .item > div {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lecture-outro .item-wrapper .item:nth-child(2) > div:first-child {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.lecture-outro .item-wrapper .item .outro-sub-img {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  height: 162px;
}

.lecture-outro .item-wrapper .item:nth-child(1) .outro-sub-img {
  background-image: url(../images/outro-1.png);
  width: 167px;
}

.lecture-outro .item-wrapper .item:nth-child(2) .outro-sub-img {
  background-image: url(../images/outro-2.png);
  width: 191px;
}

.lecture-outro .item-wrapper .item:nth-child(3) .outro-sub-img {
  background-image: url(../images/outro-3.png);
  width: 178px;
}

.lecture-outro .item-wrapper .item .btn-link {
  position: relative;
  padding: 13px 33px 13px 17px;
  border: 1px solid #ddd;
  border-radius: 27px;
  margin-top: 26px;
  font-size: 13px;
  letter-spacing: -1px;
}

.lecture-outro .item-wrapper .item .btn-link span {
  display: block;
  background-image: url(../images/right-arrow-b.png);
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 0;
  margin-right: 10px;
}

.lecture-outro .outro-img {
  margin-top: 82px;
  margin-left: 8px;
  margin-right: 16px;
}

.lecture-outro .outro-img > a {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-top: calc(208 / 829 * 100%);
  background-image: url(../images/outro-4.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 메인 - 스크롤버튼 */
.scroll-btn {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 87px;
}

.scroll-btn span {
  display: block;
  background-image: url(../images/scroll-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 102px;
  height: 45px;
}

/* @media screen and (max-width: 1760px) {
  .scroll-btn {
    display: none;
  }
} */

/* 메인제외 - 검색메뉴 */
.page-other .search-menu {
  position: fixed;
  top: 0;
  left: -460px;
  transition: left 0.2s ease-in-out;
}

.page-other .search-menu.on {
  width: 100vw;
  height: 100vh;
  left: 90;
  transition: left 0.2s ease-in-out;
}

.page-other .search-menu.on ~ .bg {
  width: -webkit-calc(100% - 550px); /* for Chrome, Safari */
  width: calc(100% - 550px);
}

.page-other .search-menu.on .wrapper {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page-other .search-menu.on .wrapper::-webkit-scrollbar {
  display: none;
}

.search-menu.on .bg {
  display: block;
}

.page-other .search-menu ~ .search-pop {
  display: flex;
  left: 90px;
  transition: left 0.2s ease-in-out;
}

.page-other .search-menu.on ~ .search-pop {
  left: 639px;
  transition: left 0.2s ease-in-out;
}

/* 메인제외 - 헤더 */
.page-other .site-header {
  min-width: 970px;
}

.page-other .lnb {
  margin-left: -41px;
}

.page-other .gnb {
  margin-right: 35px;
}

.page-other .wrapper-snb {
  width: 100%;
  height: 60px;
  background-color: #3e72ff;
}

/* 메인 제외 - snb */
.page-other .site-content {
  margin-left: 90px;
  padding-top: 149px;
}

.page-other .site-content .wrapper {
  max-width: 1450px;
  padding: 89px 101px 0px 103px;
}

.page-other .site-content .wrapper-snb .depth {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  letter-spacing: -1;
}

.page-notice .site-content .wrapper-snb .depth li,
.page-notice-content .site-content .wrapper-snb .depth li,
.page-lec-qna .site-content .wrapper-snb .depth li,
.page-part-univ .site-content .wrapper-snb .depth li {
  padding: 3px 5px;
  color: #82a4ff;
}

.page-notice .site-content .wrapper-snb .depth li.on,
.page-notice-content .site-content .wrapper-snb .depth li.on,
.page-lec-qna .site-content .wrapper-snb .depth li.on,
.page-part-univ .site-content .wrapper-snb .depth li.on {
  color: #fff;
}

/* 메인 제외 - page-title */
.page-notice .site-content .page-title-wrapper,
.page-notice-content .site-content .page-title-wrapper,
.page-lec-qna .site-content .page-title-wrapper,
.page-part-univ .site-content .page-title-wrapper {
  margin-top: 13px;
}

.page-notice .site-content .page-title-wrapper .page-title,
.page-notice-content .site-content .page-title-wrapper .page-title,
.page-lec-qna .site-content .page-title-wrapper .page-title,
.page-part-univ .site-content .page-title-wrapper .page-title {
  background-image: url(../images/notice-page-title.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 155px;
  height: 61px;
}

/* 메인제외 - footer */
.page-main .site-footer-mb,
.page-other .site-footer {
  background-color: #fff;
  padding: 16px 0px 23px 0px;
  margin-bottom: 9px;
  border-top: 1px solid #ccc;
}

.page-main .site-footer-mb .footer-left,
.page-other .site-footer .footer-left {
  float: left;
}

.page-main .site-footer-mb .footer-left > div,
.page-other .site-footer .footer-left > div {
  margin-left: -10px;
}

.page-main .site-footer-mb .btn-link,
.page-other .site-footer .btn-link {
  color: #333;
  font-size: 13px;
  padding: 6px 9px;
}

.page-main .site-footer-mb address,
.page-other .site-footer address {
  color: #a9a9a9;
  margin-top: 5px;
  margin-bottom: 14px;
  line-height: 1.6;
  font-size: 13px;
  letter-spacing: -0.8px;
  padding: 0;
}

.page-main .site-footer-mb .footer-logo,
.page-other .site-footer .footer-logo {
  float: right;
  display: block;
  width: 48px;
  height: 80px;
  background-image: url(../images/footer-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* lecturelist - 필터메뉴 */
.site-content .lecture-filter {
  margin-top: 3px;
}

.site-content .lecture-filter .subtitle-wrapper {
  float: left;
}

.site-content .lecture-filter .subtitle-wrapper .page-title {
  display: block;
  position: relative;
  font-size: 44px;
  letter-spacing: -2px;
  color: #3e72ff;
  font-weight: 800;
}

.site-content .lecture-filter .subtitle-wrapper .page-title::after {
  content: "";
  background-image: url(../images/lec-list-title.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 230px;
  height: 61px;
  position: absolute;
  top: 8px;
  right: -159px;
}

.site-content .lecture-filter .order-group {
  float: right;
  margin-top: 21px;
}

.site-content .lecture-filter .order-group .btn-default {
  color: #333;
  font-size: 14px;
  letter-spacing: -1px;
}

.site-content .lecture-filter .order-group .btn-default:not(:last-child) {
  padding: 13px 6px 15px 0px;
  color: #bbb;
  margin-top: -2px;
}

.site-content
  .lecture-filter
  .order-group
  .btn-default:not(:last-child)::before {
  content: "|";
  color: #bbb;
  padding-right: 10px;
}

.site-content .lecture-filter .order-group .btn-default:first-child::before {
  content: none;
}

.site-content
  .lecture-filter
  .order-group
  .btn-default:not(:last-child).active {
  border: none;
  background: none;
  box-shadow: none;
  color: #333;
  margin-top: 0px;
}

.site-content .lecture-filter .order-group .btn-default:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.site-content
  .lecture-filter
  .order-group
  .btn-default:not(:last-child):active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.site-content
  .lecture-filter
  .btn-group
  > .btn-group:last-child:not(:first-child)
  > .btn:first-child {
  border-radius: 7px;
}

.site-content .lecture-filter .order-group .filter-item .dropdown-toggle {
  padding: 14px 18px 14px 18px;
  border: 1px solid #eee;
  margin-left: 11px;
  color: #333;
}

.site-content
  .lecture-filter
  .order-group
  .filter-item
  .dropdown-toggle
  .caret {
  margin-left: 64px;
  border: none;
  background-image: url(../images/equalize.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  font-size: 14px;
}

.site-content .filter-list {
  margin-top: 47px;
  background-color: #eee;
  border-radius: 12px;
}

.site-content .filter-list .list-item {
  float: left;
}

.site-content .filter-list .btn-wrapper {
  float: right;
  padding: 27px 27px 27px 30px;
}

.site-content .filter-list .btn-wrapper .btn-reset {
  padding: 15px 23px 15px 22px;
  border-radius: 27px;
  color: #3e72ff;
  border: 2px solid #3e72ff;
  letter-spacing: -1px;
  font-size: 16px;
}

.site-content .filter-list .btn-wrapper .btn-reset:hover {
  background-color: transparent;
}

.site-content .filter-list .btn-wrapper .btn-reset:focus {
  outline: none;
}

.site-content .filter-list .list-item {
  padding: 27px 28px 18px;
}

.site-content .filter-list .list-item > li {
  list-style: none;
  float: left;
  padding: 15px 5px 15px 26px;
  background-color: #fff;
  color: #333;
  border-radius: 27px;
  font-size: 18px;
  letter-spacing: -1px;
  margin-right: 6px;
}

.site-content .filter-list .list-item .del-btn {
  display: inline-block;
  background-image: url(../images/del-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 19px;
  height: 10px;
  padding: 6px 13px 6px 28px;
  margin-left: 5px;
  margin-top: -3px;
}

.site-content .filter-list .list-item .del-btn:active {
  box-shadow: none;
}

/* lecturelist - 강의목록 */
.page-lecturelist .site-content .wrapper {
  padding: 89px 64px 0px 135px;
}

.page-lecturelist .lecture {
  margin-left: -17px;
  margin-right: -25px;
  margin-top: 59px;
}

.page-lecturelist .lecture .item-list {
  margin-top: 0px;
}

.site-content .lecture .more-btn {
  text-align: center;
  margin-top: -2px;
  margin-bottom: 96px;
}

.site-content .lecture .more-btn .btn-default {
  background-image: url(../images/more-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 86px;
  height: 86px;
  padding: 0px;
}

.site-content .lecture .more-btn .btn-default:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.site-content .lecture .more-btn .btn-default:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

/* lecture - status */
.lecture-detail .site-content .wrapper {
  padding: 89px 101px 0px 101px;
}
.lecture-detail .lecture-status {
  padding: 0;
  margin-top: 2px;
}

.lecture-detail .lecture-status span {
  border-radius: 5px;
  padding: 11px 12px 9px;
  letter-spacing: -1px;
}

.lecture-detail .lecture-status span:nth-child(1) {
  background-color: #ffe100;
}

.lecture-detail .lecture-status span:nth-child(2) {
  background-color: #333;
  color: #fff;
}

.lecture-detail .title-wrapper .info-container {
  padding: 0;
  margin-bottom: 27px;
}

.lecture-detail .title-wrapper .info-container .title {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -4px;
  margin-top: 14px;
}

.lecture-detail .title-wrapper .info-container .info span {
  padding-right: 5px;
}

.lecture-detail .title-wrapper .info-container .info .play {
  display: inline-block;
  background-image: url(../images/play.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
}

.lecture-detail .title-wrapper .sns-group {
  margin-top: 25px;
  padding: 0;
}

.lecture-detail .title-wrapper .sns-group a {
  float: right;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 0px 2px;
}

.lecture-detail .title-wrapper .sns-group a:nth-child(5) {
  background-image: url(../images/tweet-btn.png);
}

.lecture-detail .title-wrapper .sns-group a:nth-child(4) {
  background-image: url(../images/facebook-btn.png);
}

.lecture-detail .title-wrapper .sns-group a:nth-child(3) {
  background-image: url(../images/naver-btn.png);
}

.lecture-detail .title-wrapper .sns-group a:nth-child(2) {
  background-image: url(../images/kakao-btn.png);
}

.lecture-detail .title-wrapper .sns-group a:nth-child(1) {
  background-image: url(../images/tabs-btn.png);
}

/* lecture - video-wrapper */
.page-lecture .site-content .wrapper {
  padding: 89px 64px 0px 134px;
}

.page-lecture .lecture-detail .video-wrapper {
  margin-bottom: 68px;
}

.page-lecture .lecture-detail .video-wrapper .video-container {
  position: relative;
  float: left;
  width: -webkit-calc(97% - 352px);
  width: calc(97% - 352px);
  background-position: center;
  padding-top: calc(480 / 860 * (97% - 352px));
}

.page-lecture-not-auth .lecture-detail .video-wrapper .video-container {
  background-image: url(../images/temps/video-no-auth.png) !important;
}

.page-lecture .lecture-detail .video-wrapper .video-container {
  background-image: url(../images/temps/video-player.png);
}

.page-lecture-not-auth
  .lecture-detail
  .video-wrapper
  .video-container
  .application-btn {
  display: block;
  background-image: url(../images/app-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 186px;
  height: 76px;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-lecture-not-auth
  .lecture-detail
  .video-wrapper
  .video-container
  .application-btn:hover {
  background-image: url(../images/app-btn-hover.png);
}

.lecture-detail .video-wrapper .info-container {
  float: right;
  margin-left: 0px;
}

.lecture-detail .video-wrapper .info-container table {
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  font-size: 14px;
  letter-spacing: -1px;
}

.lecture-detail .video-wrapper .info-container table th {
  font-weight: normal;
  color: #bbb;
  padding: 14px 9px;
}
.lecture-detail .video-wrapper .info-container table td {
  padding: 14px 30px 14px 20px;
}

.lecture-detail .video-wrapper .info-container .sub-info {
  position: relative;
  letter-spacing: -1px;
  padding-left: 30px;
  font-size: 13px;
  margin-bottom: 40px;
}

.lecture-detail .video-wrapper .info-container .sub-info .important-logo {
  display: inline-block;
  background-image: url(../images/important.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -3px;
  left: 0px;
}

.lecture-detail .video-wrapper .info-container .btn-block {
  border-radius: 0px;
  background-color: #bbb;
  letter-spacing: -1px;
  position: relative;
  padding-left: 34px;
}

.lecture-detail .video-wrapper .info-container .btn-block:hover {
  color: #fff;
}

.lecture-detail .video-wrapper .info-container .btn-block:focus {
  outline: none;
  color: #fff;
  border: none;
  outline-offset: 0px;
}

.lecture-detail .video-wrapper .info-container .btn-block .star-logo {
  display: inline-block;
  background-image: url(../images/star-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 13px;
  left: 134px;
}

.lecture-detail .intro-wrapper {
  margin-bottom: 40px;
}

.lecture-detail .intro-wrapper .title {
  margin-bottom: 15px;
}

.lecture-detail .intro-wrapper .title .title-img {
  display: inline-block;
  background-image: url(../images/lec-intro.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 92px;
  height: 27px;
}

.lecture-detail .intro-wrapper .description {
  letter-spacing: -1px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #e3e3e3;
  padding: 6px 0px 7px;
}

.lecture-detail .intro-wrapper .description span {
  display: inline-block;
  font-size: 15px;
  margin: 13px 0px;
  line-height: 26px;
}

.lecture-detail .lecture-list .title .title-img {
  display: inline-block;
  background-image: url(../images/lec-list.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 168px;
  height: 27px;
}

.lecture-detail .lecture-list .item-list {
  list-style: none;
  padding: 0;
  border-top: 2px solid #333;
  margin-top: 15px;
  margin-bottom: 40px;
}

.lecture-detail .lecture-list .item-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.lecture-detail .lecture-list .item-list .item .left {
  display: flex;
  align-items: center;
}

.lecture-detail .lecture-list .item-list .item .left .lec-thumbnail {
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 170px;
  height: 120px;
}

.lecture-detail .lecture-list .item-list a:nth-child(1) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-1.png);
}

.lecture-detail .lecture-list .item-list a:nth-child(2) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-2.png);
}

.lecture-detail .lecture-list .item-list a:nth-child(3) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-3.png);
}

.lecture-detail .lecture-list .item-list a:nth-child(4) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-4.png);
}

.lecture-detail .lecture-list .item-list a:nth-child(5) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-5.png);
}

.lecture-detail .lecture-list .item-list a:nth-child(6) .left .lec-thumbnail {
  background-image: url(../images/temps/lec-list-thumb-6.png);
}

.lecture-detail .lecture-list .item-list .item .left .item-title {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -1px;
  margin-left: 18px;
}

.lecture-detail .lecture-list .item-list .item .left .item-title .lec-title {
  color: #999;
}

.lecture-detail .lecture-list .item-list .item .right {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.lecture-detail .lecture-list .item-list .item .right .play-time {
  font-size: 15px;
  letter-spacing: -1px;
}

.lecture-detail .lecture-list .item-list .item .right .play-time span {
  margin-right: 8px;
  color: #3e72ff;
}

.lecture-detail .lecture-list .item-list .item .right .play-btn {
  display: inline-block;
  background-image: url(../images/play-round.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 42px;
  height: 42px;
  margin-left: 21px;
}

.lecture-detail .lecture-list .item-list a:hover .item {
  background-color: #f9f9f9;
}

.lecture-detail .lecture-list .item-list a:hover .item .right .play-btn {
  background-image: url(../images/play-round-hover.png);
}

.lecture-detail .lecture-list .btn-wrapper {
  text-align: center;
  margin-bottom: 101px;
}

.lecture-detail .lecture-list .btn-wrapper .list-btn {
  color: #3e72ff;
  border-color: #3e72ff;
  font-size: 18px;
  padding: 15px 60px;
}

/* notice */
.page-notice .site-content .wrapper {
  padding: 89px 65px 0px 136px;
}

.page-notice .site-content .page-title-wrapper .page-title {
  background-image: url(../images/notice-page-title.png);
}

.page-notice .site-content .notice {
  padding-bottom: 284px;
}

.page-notice .site-content .notice > ul {
  margin-top: 49px;
  padding: 0;
  border-top: 2px solid #333;
  list-style: none;
}

.page-notice .site-content .notice > ul li {
  border-bottom: 1px solid #eee;
}

.page-notice .site-content .notice > ul li:hover {
  background-color: #f9f9f9;
}

.page-notice .site-content .notice > ul li a {
  width: 100%;
  display: inline-block;
  padding: 34px 0px;
  font-size: 14px;
}

.page-notice .site-content .notice > ul li a:focus {
  color: inherit;
}

.page-notice .site-content .notice > ul li a .first {
  float: left;
}

.page-notice .site-content .notice > ul li a .first .no {
  padding: 0px 64px 0px 71px;
  text-align: center;
}

.page-notice .site-content .notice > ul li a .first {
  position: relative;
}

.page-notice .site-content .notice > ul li a .first .notice {
  display: inline-block;
  background-image: url(../images/notice-subject.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  position: absolute;
  top: -130px;
  left: 148px;
}

.page-notice .site-content .notice > ul li a .first .notice ~ .subject {
  padding-left: 50px;
}

.page-notice .site-content .notice > ul li a .last {
  float: right;
  padding-right: 41px;
  font-size: 14px;
}

.page-notice .site-content .notice > ul > li .last .datetime {
  color: #aaa;
}

.page-notice .site-content .notice nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-notice .site-content .notice nav .pagination > li > a {
  margin: 0px 3px;
}

.page-notice .site-content .notice .pagination > li > a {
  border-radius: 0px;
}

.page-notice .site-content .notice .pagination > li > .top {
  background-image: url(../images/d-gt.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 16px;
}

.page-notice .site-content .notice .pagination > li > .prev {
  background-image: url(../images/gt.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 16px;
}

.page-notice .site-content .notice .pagination > li > .next {
  background-image: url(../images/lt.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 16px;
}

.page-notice .site-content .notice .pagination > li > .last {
  background-image: url(../images/d-lt.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px 16px;
}

.page-notice .site-content .notice .pagination > li > a {
  color: #ddd;
}

.page-notice .pagination > li > a,
.page-notice .pagination > li > span {
  margin: 0px;
}

.page-notice .site-content .notice .pagination > li > a:hover,
.page-notice .site-content .notice .pagination > li > a:focus {
  background-color: transparent;
  border-color: #333;
  color: #333;
}

.page-notice .site-content .notice .pagination > li.active > a {
  background-color: transparent;
  border-color: #333;
  color: #333;
}

/* notice-content */
.page-notice-content .wrapper .content {
  border-top: 2px solid #333;
  margin-top: 49px;
  margin-bottom: 238px;
}

.page-notice-content .wrapper .content .content-title {
  border-bottom: 1px solid #333;
  padding: 31px 0px 26px;
}

.page-notice-content .wrapper .content .content-title h3 {
  margin: 0px 0px 5px;
}

.page-notice-content .wrapper .content .content-title .datetime {
  font-size: 15px;
  color: #aaa;
}

.page-notice-content .wrapper .content .content-description {
  padding: 24px 10px 135px;
  line-height: 26px;
}

.page-notice-content .wrapper .content .content-menu ul {
  list-style: none;
  padding: 0px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 15px;
}

.page-notice-content .wrapper .content .content-menu ul > li:first-child {
  border-bottom: 1px solid #d9d9d9;
}

.page-notice-content .wrapper .content .content-menu ul > li > a {
  display: inline-block;
  width: 100%;
  padding: 34px 0px;
}

.page-notice-content .wrapper .content .content-menu ul > li > a .first {
  float: left;
}

.page-notice-content
  .wrapper
  .content
  .content-menu
  ul
  > li
  > a
  .first
  span:first-child {
  font-weight: bold;
  padding: 0px 28px;
}

.page-notice-content
  .wrapper
  .content
  .content-menu
  ul
  > li
  > a
  .first
  span:last-child {
  padding: 0px 22px;
}

.page-notice-content .wrapper .content .content-menu ul > li > a .last {
  float: right;
  padding-right: 40px;
  color: #bbb;
}

.page-notice-content .wrapper .content .go-list-btn {
  text-align: center;
  margin: 40px 0px;
}

.page-notice-content .wrapper .content .go-list-btn .btn {
  display: inline-block;
  background-image: url(../images/go-list-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
  height: 60px;
}

/* lec-faq */
.page-lec-qna .site-content .wrapper {
  padding: 89px 65px 0px 136px;
}

.page-lec-qna .site-content .content {
  padding-top: 29px;
  padding-bottom: 266px;
}

.page-lec-qna .site-content .page-title-wrapper .page-title {
  background-image: url(../images/lec-faq-title.png);
}

.page-lec-qna .site-content .content .content-sub {
  background-color: #eee;
  padding: 35px 0px 23px 24px;
  margin: 20px 0px;
  border-radius: 13px;
}

.page-lec-qna .site-content .content .content-sub .sub-image {
  display: block;
  background-image: url(../images/qna-sub-img.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0px 16px 0px;
}

.page-lec-qna .site-content .content .content-sub .sub-description {
  line-height: 24px;
  letter-spacing: -1px;
}

.page-lec-qna .site-content .content form {
  margin-top: 60px;
}

.page-lec-qna .site-content .content form .form-group {
  margin-bottom: 8px;
}

.page-lec-qna .site-content .content form .form-control {
  height: 56px;
  background-color: #f8f8f8;
  padding-left: 18px;
  padding-right: 18px;
  border-color: #d5d8df;
  box-shadow: none;
}

.page-lec-qna .site-content .content form .form-group .qna-select {
  width: 340px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/dropdown.png) calc(100% - 20px) center no-repeat;
  right: 0px;
  background-color: #f8f8f8;
  color: #333;
}

.page-lec-qna .site-content .content form .form-group .qna-select::-ms-expand {
  display: none;
}

.page-lec-qna .site-content .content form .form-group .qna-description {
  resize: none;
  padding-top: 17px;
  height: 360px;
}

.page-lec-qna
  .site-content
  .content
  form
  .form-group
  .qna-description::placeholder {
  font-size: 15px;
  color: #b6b6b6;
}
.page-lec-qna .site-content .content form .form-group .qna-title::placeholder {
  font-size: 15px;
  color: #b6b6b6;
  letter-spacing: -1px;
}

.page-lec-qna
  .site-content
  .content
  form
  .form-control
  .qna-description::placeholder {
  font-size: 16px;
}

.page-lec-qna .site-content .content form .btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-lec-qna .site-content .content form .btn-group .submit-btn {
  background-image: url(../images/qna-submit.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 190px;
  height: 64px;
  margin: 30px 0px;
}

.page-lec-qna .site-content .content form .btn-group .submit-btn:focus {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
}

/* participating-univ */
.page-part-univ .site-content .content {
  padding-top: 29px;
  padding-bottom: 199px;
}

.page-part-univ .site-content .page-title-wrapper .page-title {
  background-image: url(../images/participating-title.png);
}

.page-part-univ .site-content .content .content-sub {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 35px 0px 34px;
}

.page-part-univ .site-content .content .content-sub .sub-image {
  display: block;
  background-image: url(../images/participating-sub.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 37px;
  float: none;
  margin: 0px 15px;
}

.page-part-univ .site-content .content .content-sub .sub-description {
  letter-spacing: -1px;
}

.page-part-univ .site-content .content .content-sub .sub-description p {
  margin: 7px 0 10px;
}

.page-part-univ .site-content .content .item-list {
  margin-top: 31px;
}

.page-part-univ .site-content .content .item-list .item {
  height: 380px;
  padding: 0;
  border: 1px solid #d5d8df;
}

.page-part-univ .site-content .content .item-list .item:first-child {
  border-top-left-radius: 5px;
}

.page-part-univ .site-content .content .item-list .item:nth-child(3) {
  border-top-right-radius: 5px;
}

.page-part-univ .site-content .content .item-list .item:nth-child(4) {
  border-bottom-left-radius: 5px;
}

.page-part-univ .site-content .content .item-list .item:nth-child(6) {
  border-bottom-right-radius: 5px;
}

.page-part-univ .site-content .content .item-list .item:nth-child(1),
.page-part-univ .site-content .content .item-list .item:nth-child(2),
.page-part-univ .site-content .content .item-list .item:nth-child(4),
.page-part-univ .site-content .content .item-list .item:nth-child(5) {
  border-right: none;
}

.page-part-univ .site-content .content .item-list .item:nth-child(4),
.page-part-univ .site-content .content .item-list .item:nth-child(5),
.page-part-univ .site-content .content .item-list .item:nth-child(6) {
  border-top: none;
}

.page-part-univ .site-content .content .item-list .item .item-logo {
  display: flex;
  justify-content: center;
  padding: 78px 0px;
}

.page-part-univ .site-content .content .item-list .item .item-logo span {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(1)
  .item-logo
  span {
  background-image: url(../images/temps/kyunghee.png);
  width: 184px;
  height: 60px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(2)
  .item-logo
  span {
  background-image: url(../images/temps/dongguk.png);
  width: 184px;
  height: 60px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(3)
  .item-logo
  span {
  background-image: url(../images/temps/polytec.png);
  width: 215px;
  height: 60px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(4)
  .item-logo
  span {
  background-image: url(../images/temps/sungkyun.png);
  width: 185px;
  height: 60px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(5)
  .item-logo
  span {
  background-image: url(../images/temps/ajou.png);
  width: 180px;
  height: 60px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item:nth-child(6)
  .item-logo
  span {
  background-image: url(../images/temps/hanyang-erica.png);
  width: 185px;
  height: 60px;
}

.page-part-univ .site-content .content .item-list .item .item-info {
  display: table;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-part-univ .site-content .content .item-list .item .item-info li {
  list-style: none;
  display: table-row;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  p:first-child {
  display: table-cell;
  position: relative;
  font-size: 13px;
  padding: 0px 0px 6px 25px;
  color: #999;
  margin: 0;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  p:nth-child(2) {
  letter-spacing: -1px;
  margin: 0px 0px 0px 21px;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  .phone::after {
  content: "";
  background-image: url(../images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  .fax::after {
  content: "";
  background-image: url(../images/news.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  .charge::after {
  content: "";
  background-image: url(../images/user.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
}

.page-part-univ
  .site-content
  .content
  .item-list
  .item
  .item-info
  li
  .email::after {
  content: "";
  background-image: url(../images/mail.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: 0;
}
