/* 공통 */
body {
  font-family: "Nanum Gothic";
}

a {
  color: inherit;
}

.site-logo .main {
  display: block;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
}

.btn-default {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 0px;
  font-size: 18px;
  border-radius: 10px;
}

.btn-default:hover {
  background-color: #fff;
  border-color: #fff;
  color: #3e72ff;
}

.btn-link {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-dot {
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 10px;
}

.btn-dot:hover {
  border-radius: 50%;
  border: 1px solid #bbb;
}

.btn-link {
  color: inherit;
}

.btn-link:hover {
  text-decoration: none;
  color: inherit;
}

.btn-link:focus {
  text-decoration: none;
  color: inherit;
}

.container-fluid,
.container {
  padding: 0;
}

.row {
  margin: 0;
}

/* 공통 - 검색메뉴 */
.search-menu {
  background-color: #3e72ff;
  padding-top: 55px;
  width: 550px;
  position: absolute;
  top: 0;
  left: 90px;
}

.search-menu p {
  margin: 0 0 8px;
}

.search-menu .site-logo {
  padding-left: 27px;
}

.search-menu .main {
  background-image: url(/images/logo.png);
}

.search-menu .search-sub {
  background-image: url(/images/search-sub.png);
  background-size: cover;
  background-position: center;
  width: 61%;
  height: 162px;
  margin-left: 52px;
  margin-top: 41px;
}

.search-content {
  padding: 25px 80px 40px 80px;
  color: #fff;
}

.search-content .input-wrapper {
  margin: 0px 0px 20px 0px;
  position: relative;
}

.search-content .input-lg {
  padding: 10px 11% 10px 16px;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 11px;
  font-size: 15px;
  color: #333;
}

.search-content .input-lg::placeholder {
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: -1px;
}

.search-content .input-lg::after {
  content: " ";
  background-image: url(/images/search.png);
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
}

.search-content .input-wrapper .search-btn {
  background-image: url(/images/search-blue.png);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
  background-color: inherit;
}

.search-content .search-category {
  margin-bottom: 20px;
}

.search-content .search-category .title {
  font-size: 18px;
  margin-left: 4px;
  letter-spacing: -1px;
}

.search-content .search-category div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 13px;
  letter-spacing: -1px;
  border: 1px solid #afc5ff;
  border-radius: 5px;
  cursor: pointer;
}

.search-content .search-category div:hover {
  border: 1px solid #fff;
}

.search-content .search-category div.active {
  background-color: #fff;
}

.search-content .search-category div.active .category-title {
  color: #3e72ff;
}

.search-content .search-category .category-title {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-content .search-category .category-number {
  padding-left: 5px;
  color: #afc5ff;
}

.search-period .title {
  font-size: 18px;
  margin-left: 4px;
  letter-spacing: -1px;
}

.search-content .btn-default {
  margin-top: 40px;
  width: 100%;
  font-size: 18px;
  letter-spacing: -1px;
}

.search-pop {
  position: absolute;
  top: 0;
  left: 600px;
  width: 80px;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3e72ff;
  color: #fff;
  font-size: 16px;
  padding: 34px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
}

.search-pop .search-icon {
  display: block;
  background-image: url(/images/search.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-pop .pop-icon {
  display: block;
  background-image: url(/images/right-arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}

/* 공통 - 사이드바 */
.side-left {
  padding-top: 26px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 91px;
  height: 100vh;
  z-index: 9;
}

.side-left .menu-bar {
  background-image: url(/images/menu-bar.png);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-left .menu-item .btn-link {
  position: relative;
  width: 27px;
  height: 22px;
  margin-top: 26px;
}

.side-left .btn-link:hover .link-hover {
  position: absolute;
  width: 73px;
  height: 46px;
  top: -51px;
  left: -24px;
}

.side-left .menu-item .btn-link:nth-child(1) {
  background-image: url(/images/left-1.png);
}

.side-left .menu-item .btn-link:nth-child(1):hover {
  background-image: url(/images/left-1-hover.png);
}

.side-left .menu-item .btn-link:nth-child(1):hover .link-hover {
  background-image: url(/images/link-hover-1.png);
}

.side-left .menu-item .btn-link:nth-child(2) {
  background-image: url(/images/left-2.png);
}

.side-left .menu-item .btn-link:nth-child(2):hover {
  background-image: url(/images/left-2-hover.png);
}

.side-left .menu-item .btn-link:nth-child(2):hover .link-hover {
  background-image: url(/images/link-hover-2.png);
  left: -26px;
}

.side-left .menu-item .btn-link:nth-child(3) {
  background-image: url(/images/left-3.png);
}

.side-left .menu-item .btn-link:nth-child(3):hover {
  background-image: url(/images/left-3-hover.png);
}

.side-left .menu-item .btn-link:nth-child(3):hover .link-hover {
  background-image: url(/images/link-hover-3.png);
  left: -23px;
}

.side-left .menu-item .btn-link:nth-child(4) {
  background-image: url(/images/left-4.png);
}

.side-left .menu-item .btn-link:nth-child(4):hover {
  background-image: url(/images/left-4-hover.png);
}

.side-left .menu-item .btn-link:nth-child(4):hover .link-hover {
  background-image: url(/images/link-hover-4.png);
}

.side-left .sns .btn-link {
  width: 28px;
  height: 24px;
  margin-top: 10px;
}

.side-left .sns .btn-facebook {
  background-image: url(/images/btn-facebook.png);
}

.side-left .sns .btn-blog {
  background-image: url(/images/btn-blog.png);
}

.side-left .sns .btn-youtube {
  background-image: url(/images/btn-youtube.png);
}

.side-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  right: 0%;
  width: 70px;
  height: 100vh;
  z-index: 9;
  border-left: 1px solid #d9dade;
}

.side-right .menu-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-right .menu-item .btn-wrapper {
  position: relative;
  padding: 7px 0px;
}

.btn-wrapper .btn-title {
  width: 165px;
  position: absolute;
  top: 6px;
  right: 40px;
  background-color: #333;
  border-radius: 27px;
  color: #fff;
  padding: 5px 15px;
  font-size: 12px;
  display: none;
  text-align: center;
}

.btn-dot:hover + .btn-title {
  display: inline-block;
}

.side-right .top-btn {
  padding: 20px;
  margin-bottom: 5px;
}

.side-right .btn-top {
  background-image: url(/images/top-btn.png);
  width: 20px;
  height: 30px;
}

/* 메인 - 헤더 */
.site-header {
  padding: 0px 70px 0px 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 58px;
  left: 0;
}

.site-header .site-logo {
  padding-left: 33px;
}

.site-header .site-logo .main {
  background-image: url(/images/logo-h.png);
}

.site-header .lnb {
  flex: 1;
  margin-top: 2px;
  margin-left: 228px;
}

.site-header .lnb .nav {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
}

.lnb .nav > li {
  margin: 0px 12px;
}

.lnb .nav > li > a:hover {
  background-color: transparent;
  color: inherit;
}

.lnb .nav > li > a:hover > span {
  padding-bottom: 5px;
  border-bottom: 2px solid #3e72ff;
}

.lnb .nav .nav-emphasis {
  width: 5px;
  height: 5px;
  background-color: #3e72ff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 7px;
}

.gnb {
  position: relative;
  margin-top: 1px;
  margin-right: 28px;
}

.gnb .btn-link {
  padding: 6px 6px;
  font-size: 13px;
  letter-spacing: -1px;
}

.gnb .login-icon {
  background-color: #3e72ff;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -31px;
}

/* 메인 - 푸터 */
.site-footer {
  background-color: #1d44ad;
  padding: 17px 0px 10px 68px;
  font-size: 12px;
}

.site-footer .btn-link {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  letter-spacing: -1px;
}

.site-footer address {
  padding-left: 13px;
  color: #fff;
  opacity: 0.4;
}

/* 메인 */
.site-content {
  margin-left: 640px;
  margin-right: 70px;
  height: 100vh;
  padding-top: 185px;
}

.site-content .wrapper {
  max-width: 870px;
  padding: 0px 20px;
  margin: auto;
}

/* 메인 - 공지사항 */
.notice .notice-title {
  padding: 0px 47px 0px 0px;
}

.notice .notice-title .title-img {
  display: block;
  background-image: url(/images/notice-title.png);
  background-size: cover;
  background-position: center;
  width: 86%;
  height: 170px;
}

.notice-content {
  margin-top: 35px;
}

.notice-content > ul {
  border-top: 2px solid #333;
  list-style: none;
  padding: 0;
}

.notice-content > ul > li > a {
  padding: 20px 20px 20px 0px;
  text-align: start;
  text-overflow: ellipsis;
  letter-spacing: -1px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.notice-content > ul > li > a:hover {
  border-bottom: 1px solid #ddd;
}

/* 메인 - 콘텐트 카테고리 */
.content-category {
  height: 141px;
  margin-top: 49px;
  background-color: #eee;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
  padding: 18px 48px 37px 61px;
}

.content-category .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 16px 17px 16px 18px;
}

.content-category .item .icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.content-category .item:nth-child(1) .icon {
  background-image: url(/images/cate-1.png);
}

.content-category .item:nth-child(2) .icon {
  background-image: url(/images/cate-2.png);
}

.content-category .item:nth-child(3) .icon {
  background-image: url(/images/cate-3.png);
}

.content-category .item:nth-child(4) .icon {
  background-image: url(/images/cate-4.png);
}

.content-category .item:nth-child(5) .icon {
  background-image: url(/images/cate-5.png);
}

.content-category .item:nth-child(6) .icon {
  background-image: url(/images/cate-6.png);
}

.content-category .item:nth-child(7) .icon {
  background-image: url(/images/cate-7.png);
}

.content-category .item .title {
  letter-spacing: -1px;
  font-size: 13.5px;
}

/* 메인-강의목록 */
.lecture {
  margin-top: 66px;
}

.lecture p {
  text-align: center;
  line-height: 1;
}

.lecture > .title {
  font-size: 31px;
  letter-spacing: -1px;
}

.lecture > .sub-title {
  font-size: 17px;
  letter-spacing: -1px;
}
