.site-content .wrapper {
  max-width: 950px;
}

.search-menu {
  height: 100%;
}

.search-menu .wrapper {
  height: 91%;
}

.page-other .search-menu {
  height: 100%;
}

.page-other .search-menu .wrapper {
  height: 100%;
}
