/* 메인 */
.page-main .site-content {
  margin-left: 550px;
}

.page-main .site-header .lnb {
  margin-left: 140px;
}

/* 메인 - search */
.search-menu .wrapper {
  width: 460px;
}

.search-content .search-category .col-md-4,
.page-other .search-content .search-category .col-md-4 {
  width: 50%;
}

.search-content .search-category .col-md-6,
.page-other .search-content .search-category .col-md-6 {
  width: 100%;
}

/* 메인 - outro */
.lecture-outro .item-wrapper .item {
  padding: 0px 4px 0px 16px;
}

/* 메인제외 - search-menu */
